:root {
    --background-color: #212F3C;   
    --widht: 60%; 
}

* {
  font-family: 'Monda', sans-serif;
}

header {
    height: 6em;    
    width: var(--widht);
    background: var(--background-color);
    border-radius: 13px 13px 13px 13px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  header h1 {      
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      color: white;
      padding-top: 0.5em;
      padding-right: 63px;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    width: var(--widht);
    padding-left: 50px;
    color: var(--background-color);  
  }

  #profilePicture {
    margin-top: -150px;
    margin-right: 5%;
    width: 125px;
    clear: both;  
    float: none;    
  }

  footer {
    background: var(--background-color);  
    border-radius: 13px 13px 13px 13px;    
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: var(--widht);
    text-align: center;
    color: white;
  }

  #lastUpdated {
    display: block;
    color: yellow;
  }

 footer a:visited, footer a:link, footer a:active {
    color: white; 
     text-decoration: none;
}