/*****************************************************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// For a row of pips
.row {
  height: 100%;  
  align-items: center;
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;  
} 

// For each pip in a row
.cell {
  text-align: center;
  flex: 1;  
}

// For the column with the number
.number {  
  text-align: center;
  font-size: $font-size-number;
  & > .icon {
    width: $icon-size * 0.5;
    height: $icon-size * 0.5;
  }
}

// For Card
.card {
  height: $card-height;
  width: $card-width;
  border: 1px solid grey;
  border-radius: 9px;
  margin: 18px;
  box-shadow: 2px 2px 4px grey;
}

// Extra Padding for Card Front
.card-front {
  padding: 0.5em;
}

// Style for Icon
.icon {
  height: $icon-size;
  width: $icon-size;  
}

// Rotation Pips
.rotate {
  transform: rotate(180deg);
}
/*****************************************************************************************/