@media only screen and (min-width: 64rem) {

/*----------- BODY --------------*/
   header, nav, main, footer {     
       margin: 0;
   }   

/*----------- HEADER --------------*/
   header h1 {
      font-size: 1.75rem;
   }

   header h2 {
      font-size: 1.50rem;
   }

   header h3 {
      font-size: 1.25rem;
   }

   .companyLogo {
      width: 75px;   
   }

/*----------- NAVIGATION --------------*/
   nav ul {
      flex-direction: row;       
   }  

   nav ul li {
      width: 16.67%;    
   }

   nav button {
      display: none;
   }

   nav ul.hideObject {
      display: flex;
   }  

/*----------- MAIN --------------*/   
   main {
      max-width: 900px; 
      margin: auto;
   }
   
   #colors {
      grid-template-columns: auto auto auto auto auto;    
   } 

   .spanColor1{
      margin-top: 5rem;
    }
  
    .spanColor2{
      margin-top: 5rem; 
    }

/*----------- FOOTER --------------*/  
   footer {    
      font-size: 1rem;   
      max-width: 900px; 
      margin: auto;
   }
}