@media only screen and (min-width: 128rem) {
/*----------- BODY --------------*/
   header, nav, main, footer {
       max-width: 64rem;
       margin: 0;
   }
/*----------- HEADER --------------*/
   header h1 {
      font-size: 1.75rem;
   }
   header h2 {
      font-size: 1.50rem;
   }
   header h3 {
      font-size: 1.25rem;
   }
   .companyLogo {
      width: 200px;   
   }
/*----------- NAVIGATION --------------*/
nav ul li {
   width: 20%;    
 }
/*----------- MAIN --------------*/
   main {
      padding: 1rem;
   } 
   #colors {
      grid-template-columns: auto auto auto auto auto;    
   } 
   .spanColor1{
      margin-top: 5rem;
    }
  
    .spanColor2{
      margin-top: 5rem; 
    }
/*----------- FOOTER --------------*/  
   footer {    
      font-size: 1rem;    
   }
}