@media only screen and (min-width: 35rem) {
/*----------- BODY --------------*/
/*----------- HEADER --------------*/
  header h1 {
    font-size: 1.65rem;
  }
  header h2 {
    font-size: 1.40rem;
  }
  header h3 {
    font-size: 1.15rem;
  }
  .companyLogo {
    width: 85px;   
  }
/*----------- NAVIGATION --------------*/
  nav ul {
    flex-direction: row;       
  }  
  nav ul li {
    width: 20%;    
  }
/*----------- MAIN --------------*/
  main {
    padding: 0.50rem;
  }
  #colors {
    grid-template-columns: auto auto auto auto;    
  }  
  .spanColor1{
    margin-top: 1.75rem;
  }

  .spanColor2{
    margin-top: 1.75rem; 
  }
/*----------- FOOTER --------------*/    
  footer {    
    font-size: 0.85rem;    
  }
}