* {
    font-family: 'Ubuntu', sans-serif;   
}

table, caption {
    text-align: center;    
    margin: 0 auto;
    background-color:  #e6f8eb;
    font-size: 1.4rem;
}

caption {
    background-color: #83bfc9;
    font-size: 1.4em;   
    font-weight: bold; 
}

table, caption, th, td  {    
    border: 2px solid #a7a9aa;
    border-collapse: collapse;
}

td, th, caption {
    padding: 0.35em;
}

tbody tr:nth-child(odd) td{
    background-color:  #dfe6e3;
}

tfoot{
    background-color: #83bfc9;
    font-size: .66em;
}

.blueTr {
    color: white;
    background-color: #628ca6;    
}