@media only screen and (min-width: 64rem) {
    /*
        Header
    */
    .companyLogoImage {
        width: 55px;
    }
    
    .textLogo1 {
        font-size: 1rem;
    }
    
    .textLogo2 {
        font-size: 0.85rem;
    }

    nav ul li a{
        font-size: 1.10rem;        
    }

    #ctaTitle {
        font-size: 2rem;
        padding: 5px 5px;    
        margin: 15px 15px 15px;   
        width: 450px;
    }

    #ctaParagraph {        
        font-size: 1.25rem;
        padding: 15px 15px;    
        margin: 0 15px 15px;                  
        width: 500px;        
    }
    /*---------------------------------------------------------------------------------------------------*/

    /*
        Main
    */
    main {
        margin: auto;
        max-width: 900px;         
    }
    /*--------------------------------------------------------------------------*/
    
    /*
        Footer
    */
    footer {
        font-size: 0.95rem; 
        grid-template-columns: 70% 30%;   
    }

    .socialMediaIcon {
        height: 3rem;
        margin-top: 0;   
        margin-left: 10px;    
        margin-right: 10px;
    }
    /*---------------------------------------------------------------------------------------------------*/
}