@media only screen and (min-width: 64rem) {
    /*
        Header
    */
    .companyLogoImage {
        width: 55px;
    }
    
    .textLogo1 {
        font-size: 1rem;
    }
    
    .textLogo2 {
        font-size: 0.85rem;
    }

    nav ul li a{
        font-size: 1.10rem;        
    }

    #ctaTitle {
        font-size: 2rem;
        padding: 10px 10px;    
        margin: 30px 30px 10px;   
        width: 450px;
    }

    #ctaParagraph {        
        font-size: 1rem;
        padding: 10px 10px;    
        margin: 0 30px;                  
        width: 450px;        
    }
    /*---------------------------------------------------------------------------------------------------*/

    /*
        Main
    */
    main {
        margin: auto;

        max-width: 900px;         
    }

    main section {
        margin: 1rem 0; 
    }

    main section h1 {
        color: darkred;
        font-family: 'Lora', serif;;
        display: block;
        text-align: center;
    }

    main section h2 {
        color: black;
        font-family: 'Lora', serif;
        display: block;
        text-align: center;
        margin-top: 0;
    }

    #contentSection1 {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 15px;
    }

    .divSection1 {
        font-family: 'Open Sans', sans-serif;
    }

    .divSection1 span {
        display: block;
    }

    .divSection1IncomingEvents {
        display: grid;    
        grid-template-columns: auto auto;
    }

    .dateEvent {
        text-align: right;
        font-weight: bold;
        color: blue;
        margin-right: 10px;
    }
    /*--------------------------------------------------------------------------*/
    
    /*
        Footer
    */
    footer {
        font-size: 0.95rem; 
        grid-template-columns: 70% 30%;   
    }

    .socialMediaIcon {
        height: 2rem;
        margin-top: 0;    
        margin-left: 15px;    
        margin-right: 15px;
    }
    /*---------------------------------------------------------------------------------------------------*/
}