@media only screen and (min-width: 45rem) {
    /*
        Header
    */
    .companyLogoImage {
        width: 50px;
    }

    .textLogo1 {
        font-size: 0.90rem;
    }
    
    .textLogo2 {
        font-size: 0.75rem;
    }

    nav button {
        display: none;
    }

    nav ul.hideObject {
        display: flex;
    } 

    nav ul {
        flex-direction: row;          
    }  
    
    nav ul li {
        width: 100%;
    }  
    
    #ctaTitle {
        font-size: 1.5rem;
        padding: 10px 10px;    
        margin: 10px 10px;   
        width: 350px;        
    }

    #ctaParagraph {        
        font-size: 0.9rem;
        padding: 15px 15px;    
        margin: 0 15px 10px;                  
        width: 400px;        
    }
    /*---------------------------------------------------------------------------------------------------*/

    /*
        Main
    */
    #contentSection1 {
        grid-template-columns: 60% 40%;
    }

    #contentSection1B {
        grid-template-columns: 1fr 1fr; 
     }    

    .divMap {
        margin-top: 0;    
        grid-column-start: 3;
        grid-column-end: 3;  
    } 

    #divSection3 {
        grid-template-columns: 40% 60%;
        margin-bottom: 0;    
    }    
    /*--------------------------------------------------------------------------*/

    /*
        Footer
    */
    footer {
        font-size: 0.80rem;    
        grid-template-columns: 70% 30%;
    }

    .socialMediaIcon {
        height: 2.5rem;
        margin-top: 0;
        margin-left: 5px;    
        margin-right: 5px;
    }
    /*---------------------------------------------------------------------------------------------------*/
}