/*----------- apply a natural box layout model to all elements --------------*/
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
/*--------------------------------------------------------------------------*/

/*
    Header
*/
header {
    display: grid;
    grid-template-columns: 100%;
    font-family: 'Lora', serif; 
    background-color: white;
}

.companyLogoDiv {
    margin: 15px;   
}

.companyLogoImage {
    float: left;
    width: 40px;
    margin-right: -2px;
    display: block;        
}

.textLogo1 {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0;
    word-spacing: 0;
    color: rgba(0, 0, 0, 0.7);
}

.textLogo2 {
    display: block;
    font-size: 0.65rem;
    font-weight: bold;
    color:#8b0000;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

nav ul.hideObject {
    display: none;
}

nav button {
    background-color: darkred;
    color: white;
    font-size: 1.5rem;
    border-style: none;    
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    width: 100%;    
}

nav ul {
    font-weight: bold;
    background-color: darkred;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;   
}

nav ul li a{
    font-size: 1rem;
    color: white;   
    padding: 0.5rem 0;
    display: block; 
    text-decoration: none;       
}

nav ul li a.active{
    background-color: rgba(0, 0, 0, 0.5);    
}

nav a:hover {
    background-color: gray;  
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

#heroImage {
    width: 100%;    
    height: 20rem;
    background-image: url("../images/guatemalacitylarge.jpg");  
    background-repeat: no-repeat;  
    background-size: 100% auto;    
    margin: 0;
    padding: 0;
    height: auto;
}

#ctaTitle {
    display: block;
    font-size: 1.25rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 13px 13px 13px 13px; 
    padding: 5px 5px;    
    margin: 10px 10px 5px;   
    width: 280px;
}

#ctaParagraph {  
    text-align: justify;            
    color: #2caaff;        
    border-radius: 13px 13px 13px 13px; 
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.80rem;
    padding: 10px 10px;    
    margin: 0 10px 10px;                 
    width: 400px;   
    font-weight: normal;
}

#heroImage a {
    color: orange !important;
    font-weight: bold;
    text-decoration: none;        
    color: #2caaff; 
}

#tableBenefits {
    table-layout: fixed;
    width: 95%;
    border-collapse: collapse;
    border: 2px solid gray;
    margin-left: 2.5%;
}

thead th:nth-child(1) {
    width: 30%;
}
  
thead th:nth-child(2) {
    width: 17.5%;
}

thead th:nth-child(3) {
    width: 17.5%;
}

thead th:nth-child(4) {
    width: 17.5%;
}

thead th:nth-child(5) {
    width: 17.5%;
}

th, td {
    padding: 5px;
}

th {
    font-family: 'Lora', serif !important;     
    letter-spacing: 2px;
    font-size: 1rem;
}
  
td {
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 1px;
    font-size: 0.75rem;
}
  
tbody td {
    text-align: center;
}  

tbody tr:nth-child(odd) {
    background-color: rgb(185, 185, 233);
    color: black;
}
  
tbody tr:nth-child(even) {
    background-color: #071261;
}  
  
table {
    background-color: black;
    color: white;
    margin-bottom: 2rem;
}
/*---------------------------------------------------------------------------------------------------*/

/*
    Main
*/
main section h1 {
    color: darkred;
    font-family: 'Lora', serif;
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main section h2 {
    color: black;
    font-family: 'Lora', serif;
    display: block;
    text-align: center;
}

#secondImage {
    width: 100%;
    margin: 0;
    padding: 0;
}

#thirdImage {
    width: 100%;
    margin: 0;
    padding: 0;
}

#contentSection1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -0.5rem;
    padding-top: 0;
    margin-bottom: 1rem;
}

#contentSection1B {
    display: grid;
    grid-template-columns: 1fr; 
    margin-top: -0.5rem;
    padding-top: 0;
    margin-bottom: 1rem;
}

.headSection1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.divSection1 {
    font-family: 'Open Sans', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

.divSection1 span {
    display: block;
}

.divSection1IncomingEvents {
    display: grid;    
    grid-template-columns: auto auto;
}

.divSection1 p {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.dateEvent {
    text-align: right;
    font-weight: bold;
    color: blue;
    margin-right: 10px;
}

.dateEvent2 {
    text-align: right;
    font-weight: bold;
    color: green;
    margin-right: 10px;
}

.section4 {
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
    margin-right: 15px; 
    margin-bottom: 1rem;
}

.divSection4 {
    width: 100%;   
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 1rem;
    grid-column-gap: 15px;
}

.divMap {
    margin-top: 1rem;
    grid-column-start: 1;
	grid-column-end: 3;
}

.Map {
    width: 100%;      
}

.section2Content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section2 h1 {
    color: darkred;
    font-family: 'Lora', serif;
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section2Content h2 {
    font-family: 'Lora', serif;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.section2Content p {
    font-family: 'Open Sans', sans-serif;
    margin-top: -0.5rem;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.logoCompanyCard {
    width: 100%;
    display: block;
    margin: 0;
    padding: 15px;
}

#divSection3 {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    grid-template-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
}

.divForest {
    width: 100%;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(185, 185, 233);  
}

.headingSection3 {
    margin-top: 0;
}

#divWeather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

.weatherState {
    display: block;
    width: 50px;
    margin: auto auto;
    padding: 0;
}

.pDay {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.divDay {
    border-style: solid;    
    border-width: 1px;
    border-color: gray;
    width: 100%;
}

.day {
    display: block;
    text-align: center;
    background-color: #071261;
    color: white;
    padding: 10px;
}

.referenceList {
    font-family: 'Open Sans', sans-serif;
}

.section2P {
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.divSection4B {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;
}

.top input:required {
    border-left: 5px solid red;
}

.top input:required:valid {
    border-left: 5px solid green;
}

form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

form legend {
    color: black;
    font-weight: bold;       
}

form fieldset {
    border: 1px solid gray;
    border-radius: 5px;   
    padding: 1rem 1rem;     
    margin-bottom: 1rem;
}

form label.top, form div {
    color: black;
    padding-top: 1rem;    
    display: block;    
}

form label.top input, form label.top select {
    font-size: 0.9rem;
    color:  rgba(0, 0, 0, 0.70);
    border: solid 1px gray;
    border-radius: 5px;
    padding: 0.75rem;
    background-color: rgba(0, 0, 0, 0.10);
    line-height: 1.15;
    width: 100%;
    display: block;       
}

#submitButton {
    width: 100%;
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem; 
    margin-top: 1rem;   
    margin-bottom: 1rem;   
    font-weight: bold;
    outline: none;
}

#submitButton2 {
    width: 100%;
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem; 
    margin-top: 1rem;   
    margin-bottom: 1rem;   
    font-weight: bold;  
    text-align: center;  
    outline: none;
}

#submitButton3 {
    width: 100%;
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem; 
    margin-top: 1rem;   
    margin-bottom: 1rem;   
    font-weight: bold;  
    text-align: center;  
    outline: none;    
}

input[type="radio"] {
    margin-right: 5px;
}

#comments {
    color:  rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 10rem;
    padding: 12px 20px;
    margin-top: 5px;
    border-radius: 4px;
    resize: none;
}

#comments2 {
    color:  rgba(0, 0, 0, 0.70);
    width: 100%;
    height: 7rem;
    padding: 12px 20px;
    margin-top: 5px;
    border-radius: 4px;
    resize: none;
}

.confirmButton {
    display: block;
}

.hideButton {
    display: none;
}

#boardDirectors {
    width: 100%;
    margin-bottom: 1rem;
}

#benefitsDiv {
    display: grid;
    grid-template-columns: 1fr;
}

.imageBenefitl {
    width: 100%;
}

.imageBenefitr {
    width: 100%;
}

.divBenefitl {
    margin-bottom: 2rem;
}

.divBenefitr {
    margin-bottom: 2rem;
}
/*--------------------------------------------------------------------------*/

/*
    Footer
*/
footer {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: white;    
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 13px 13px 13px 13px;    
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.75rem;  
    text-align: center;    
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:visited a:hover {
    color: white;    
}

.socialMediaIcon {
    height: 2rem;
    margin-top: 1rem;    
    margin-left: 15px;    
    margin-right: 15px;
}
/*---------------------------------------------------------------------------------------------------*/