@media only screen and (min-width: 785px) {
  
/*----------- BODY --------------*/

/*----------- HEADER --------------*/
  header h1 {
    font-size: 1.65rem;
  }

  header h2 {
    font-size: 1.40rem;
  }

  header h3 {
    font-size: 1.15rem;
  }

  .companyLogo {
    width: 60px;   
  }

/*----------- NAVIGATION --------------*/  
  nav ul {
    flex-direction: row;       
  }  

  nav ul li {
    width: 16.67%;    
  }

  nav button {
    display: none;
  }

  nav ul.hideObject {
    display: flex;
  } 

/*----------- MAIN --------------*/
  main {
    margin: 0 auto;
    max-width: 85%;
  }

  .divSection1Info {
    margin-bottom: 100px;
    width: 275px;
  }

  #colors {
    grid-template-columns: auto auto auto auto;    
  }  
  
  .spanColor1{
    margin-top: 1.75rem;
  }

  .spanColor2{
    margin-top: 1.75rem; 
  }

/*----------- FOOTER --------------*/    
  footer {    
    font-size: 0.85rem;    
  }
}