:root {    
    --main-background-color: #D7D9E8;
    --second-background-color: #0B1984;  
    --header-color: #0B1999;
    --menu-color: #00129C;
    --option-color: #070E44;
    --selection-color: #44454B;
    --border-color: #A2A3A8;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--main-background-color);
    padding: 2rem 2%;
}

header h1 {
    letter-spacing: 3px;
    margin: 0;    
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--header-color);
}

header h3 {
    letter-spacing: 1px;
    margin: 0;    
    font-size: 1rem;
    font-weight: 600;
    color: var(--header-color);
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: center;
    background-color: var(--menu-color);  
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    font-weight: 600;
}

nav ul li a{
    padding: 0.5rem 0;
    display: block;
}

nav ul li a.active{
    background-color: var(--option-color);    
}

nav a:hover {
    background-color: var(--selection-color);  
}

main {
    margin: 1rem;
}

main h1 {
    color: var(--header-color);    
    font-size: 1.5rem;    
}

main h2 {
    color: var(--header-color);    
    font-size: 1.25rem;    
}

main h3 {
    color: var(--header-color);    
    font-size: 1rem;    
}

main p {
    margin-top: 10px;
}

main table {
    text-align: center;
    padding: 0.5rem;
}

main table tr td {
    padding: 0.5rem;
}

footer {    
    background: var(--main-background-color);  
    border-radius: 13px 13px 13px 13px;    
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: var(--second-background-color);
    font-size: 0.70rem;    
}

footer a:visited, footer a:link, footer a:active {
    color: var(--second-background-color);  
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

lu li {
    margin-left: 15px;
}

ol li {
    margin-left: -10px;
}

#logo_company_main {
    width: 150px;
}

#colors {
    width: 100%;   
    height: 200px;
    display: grid;
    grid-template-columns: auto auto;    
}

#color1 {
    background-color: var(--option-color);
    
}

#color2 {    
    background-color: var(--main-background-color);
}

#color3 {
    background-color: var(--second-background-color);
}

#color4 {
    background-color: white;    
}

#color5 {
    background-color: var(--selection-color);
}

.colorScheme {
    border-radius: 13px 13px 13px 13px;    
    margin: 10px; 
    text-align: center;   
    font-weight: bold;
    font-size: larger;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);    
}

.companyLogo {
    float: left;
    width: 70px;   
    margin-right: 10px;
}

.spanColor1{
    display: block;
    color: white;
    margin-top: 11px;
}

.spanColor2{
    display: block;
    color: var(--selection-color);
    margin-top: 11px; 
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}