:root {    
    --main-background-color: #D7D9E8;
    --second-background-color: #0B1984;  
    --header-color: #0B1999;
    --menu-color: #00129C;
    --option-color: #070E44;
    --selection-color: #44454B;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--main-background-color);
    padding: 2rem 2%;
}

header h1 {
    letter-spacing: 3px;
    margin: 0;    
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--header-color);
}

header h3 {
    letter-spacing: 1px;
    margin: 0;    
    font-size: 1rem;
    font-weight: 600;
    color: var(--header-color);
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: center;
    background-color: var(--menu-color);  
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    font-weight: 600;
}

nav ul li a{
    padding: 0.5rem 0;
    display: block;
}

nav ul li a.active{
    background-color: var(--option-color);    
}

nav a:hover {
    background-color: var(--selection-color);  
}

main {
    margin: 1rem;
}

main h1 {
    color: var(--header-color);    
    font-size: 1.5rem;    
}

main p {
    margin-top: -10px;
}

footer {    
    background: var(--main-background-color);  
    border-radius: 13px 13px 13px 13px;    
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: var(--second-background-color);
    font-size: 0.70rem;    
}

footer a:visited, footer a:link, footer a:active {
    color: var(--second-background-color);  
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

#logo_company_main {
    width: 150px;
}

.companyLogo {
    float: left;
    width: 70px;   
    margin-right: 10px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}