/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
*,
*::before,
*::after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

:root {    
    --main-background-color: #D7D9E8;
    --second-background-color: #0B1984;         

    /* font weight */
    --fw-light: 300;
    --fw-reg: 400;
    --fw-bold: 600;

    /* font size */
    --fs-h1: 1.7rem;
    --fs-h2: 1.1rem;
    --fs-h3: 1rem;
    --fs-body: 1rem;

    /* color */
    --clr-light: #fff;
    --clr-lightblue: #2caaff;
    --clr-honey: #fab900;
    --clr-red: #f13535;
    --clr-lightgrey: #f2f2f2;
    --clr-grey: #4e4e4e;
    --clr-dark: #333333;
    --clr-darker: #1f1f1f;

    /* box shadow */
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

/* Utility classes */
    /* Colors */
.clr-light { color: #0B1984; }
.clr-lightblue { color: var(--clr-lightblue) }
.clr-dark { color: var(--clr-dark) }
.clr-darker { color: var(--clr-darker) }
.clr-honey { color: var(--clr-honey) }
.clr-red { color: var(--clr-red) }
    /* Backgrounds */
.bck-light { background-color: var(--clr-light) }
.bck-lightblue { background-color: var(--clr-lightblue) }
.bck-dark { background-color: var(--clr-dark) }
.bck-darker { background-color: var(--clr-darker) }
.bck-honey { background-color: var(--clr-honey) }
.bck-red { background-color: var(--clr-red) }
.bck-grey { background-color: var(--clr-grey) }
.bck-lightgrey { background-color: var(--clr-lightgrey) }
.bs { box-shadow: var(--bs);}

/*----------- BODY --------------*/


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    height: 100px;
    background-color: #D7D9E8;
}

.logo {
    float: left; 
    margin-right: 10px; 
    width: 150px;

}

/*----------- NAVIGATION --------------*/
.navbar {
    background-color: #00129C;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar__link a {
    display: block;
    color: var(--clr-light);
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-weight: bold;
}

.active {
    background-color: #030C54;
    font-weight: bold;
}

.navbar__link:hover {
    background-color: var(--clr-grey);
    color: var(--clr-honey);
}

h1, h2, h3 {
    color: var(--second-background-color);
}

/*----------- MAIN --------------*/
main {
    padding: 2% 2%;    
}

.page-logo {
    width: 10rem;
    margin: 10px;
}

footer {    
    background: var(--main-background-color);  
    border-radius: 13px 13px 13px 13px;    
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: var(--main-widht);
    text-align: center;
    color: var(--second-background-color);
}

footer a:visited, footer a:link, footer a:active {
    color: var(--second-background-color);  
    text-decoration: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}